.header {
  width: 100%;
  border-bottom: 1px solid map-get($colors, border);
  padding: 1em;
  display: flex;
  align-items: center;
  gap: 1em;
  background-color: map-get($colors, background_primary);

  .contact {
    display: flex;
    gap: 0.825em;
    flex-grow: 1;

    img {
      width: 3.125rem;
      height: 3.125rem;
    }

    div {
      margin-top: 0.35em;
      p {
        margin: 0;
        font-size: 0.875rem;
        font-weight: 500;

        &:last-child {
          color: map-get($colors, text_secondary);
          margin-top: 0.25em;
        }
      }
    }
  }
}
